body{margin: 0;
  background-image: url("images/love2.gif");
  background-size:cover;
text-align: center;
}
h1{
  font-family: 'Sacramento', cursive;
  width:250px;
  margin-left: 500;
  font-size: 40px;
  color: #B1FFFD

}
h2{font-size: 50px;
color: #ffffff;}
p{
  font-family: 'Nova Flat', cursive;
  font-size: 40px;
  color: #ffffff;
}
a{
color: #38A3A5
}
.top-container{padding-top: 100px;
position: relative;}

.mypic{height: 30%;
width:30%;
margin-right: 700px;
}

.giff{
  position: relative;
width: 15%;
height: 15%;

}
.footer-link{font-size: 30px;
color: #A8E7E9}
#llc {font-size: 20px;}

.middle-container{
  margin-right: 750px
}

.bottom-container{
margin: 50px; word-spacing: 5em;
margin-left: 850px;
margin-top: 300px;
}

.gif{height: 100%;
width: 30%;
}

.contact-me{
  font-family: 'Nunito', sans-serif;
}

.twitter{

}
.fb{

}
.whatsapp{

}
.instagram{

}
.social{
  margin-bottom: 20px;
  margin-top:20px;
}
